* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.gz binary
*.pt binary
*.pth binary
*.safetensors binary
*.ckpt binary
*.npy binary
